
@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{
    var classname = Model.Customers.Count > 0 ? "popular" : null;
}

<h2 class="@classname">@Model.Movie.Name</h2>

    @foreach (var customer in Model.Customers)
    {
        if (Model.Customers.Count == 0)
        {
            <p>All copies are free</p>
        }
        else
        {
            <ul>
                <li>@customer.name</li>
            </ul>

        }

    }

            