@{
    ViewBag.Title = "Home Page";
   // Layout = "MyLayout.cshtml";
} 





<div class="row">
    <div class="col-md-6 margin-top-20"><a href="#" class="btn btn-primary btn-large btn-block"><span class="glyphicon glyphicon-circle-arrow-down"></span>Withdrawal</a></div>
    <div class="col-md-6 margin-top-20"></div>
    <div class="col-md-6 margin-top-20"></div>
    <div class="col-md-6 margin-top-20"></div>
</div>

@section scripts{
    <script> var testing = true;</script>
}
You are using @Request.Browser.Browser, and that's okay!

@{ var amounts = new List<Decimal> { 100, 25.50m, -40, 275.99m };

}

<ul>
@foreach (decimal number in amounts)
{
    <li>@formatAmount(number)</li>
    
}

</ul>

    @helper formatAmount(decimal number)
{
        var color = "green";
        if (number<0)
    {
        color = "red";

    }

<span style="color:@color">@String.Format("{0:c}",number)</span>

}
