@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>You win Money!</h1>
    <p class="lead">Press the button to have a chance at winning money. You can also lose money. Lmao, lmae.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">
              @Html.Action("Details","money")
        </h2>
    </div>
</div>

<div class="row">
        <div class="col-md-6">
            <a href="@Url.Action("fulroll","money")" class="btn btn-primary btn-block btn-lg">Full Roll</a>
            <p class="text-info">Full rolls risk the full amount for a double or nothing style play.</p>
        </div>

        <div class="col-md-6">
            <a href="@Url.Action("fulroll","money")" class="btn btn-primary btn-block btn-lg">Standard Roll</a>
            <p class="text-info">Standard rolls risk 10% of the amount for a 10% return or 10% fall.</p>
        </div>

</div>

<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("About","Home")" class="btn btn-primary btn-block btn-sm center-block"><span class="glyphicon glyphicon-question-sign"></span> Okay, What the fuck is this.</a>
    </div>

</div>
